.user-form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form input {
    padding: 10px;
    margin: 5px 0;
}
.user-form button {
    padding: 10px;
    background-color: #cbc9c9;
    border: none;
    border-radius: 5px;
}

.user-form button:hover {
    background-color: grey;
    cursor: pointer;
    scale: 1.1;
}



.success {
    background-color: #54e16d;
    padding: 1rem;
    width: fit-content;
    margin: 2rem auto;

}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
